h1 {
  background-image: url("../assets/fondo.jpg");
  border-radius: 10px;
  cursor: default;
  color: #cfd8dc;
  font-size: 4em;
  margin-bottom: 0;
  text-align: center;
  transition: color 0.6s;
  user-select: none;
}
h1:hover {
  color: white;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  outline: none;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 1s;
  user-select: none;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover , nav a:focus{
  background-color: #CFD8DC;
  color: #039be5;
}
nav a.active {
  color: #039be5;
}
