div {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
[class*='col-'] {
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
  outline: none;
}
*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h3 {
  cursor: default;
  text-align: center; margin-bottom: 0;
  user-select: none;
  font-size: 1.5em;
  color: #cfd8dc;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  background-color: #eee;
  border-radius: 10px;
  color: #607D8B;
  max-height: 120px;
  min-width: 120px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.5s;
  user-select: none;
}
.module:hover {
  background-color: #607d8b;
  color: #eee;
  cursor: pointer;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
