.component {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 20px 10px 0;
}
h4 {
  cursor: default;
  user-select: none;
}
.search-result{
  background-color: white;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  cursor: pointer;
  height: 16px;
  padding: 5px;
  width:192px;
}
.search-result:hover {
  background-color: #607D8B;
  color: #eee;
}
input {
  border-radius: 3px;
  width: 200px;
}