div.info {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 10px 10px 0;
}
h2 {
  cursor: default;
  user-select: none;
}
label {
  color: #607D8B;
  cursor: default;
  display: inline-block;
  font-weight: bold;
  margin: .5em 0;
  user-select: none;
  width: 6em;
}
input {
  border-radius: 5px;
  font-size: 1em;
  height: 1.5em;
  outline: none;
  padding-left: .4em;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  font-family: Arial;
  margin-top: 20px;
  outline: none;
  padding: 5px 10px;
  transition: background-color 0.5s;
}
button:hover , button:focus{
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
