<div *ngIf="hero" class="info">
   <h2>{{hero.name}} details!</h2>
   <div>
     <label>Id: </label>{{hero.id}}</div>
   <div>
     <label>Name: </label>
     <input [(ngModel)]="hero.name" placeholder="name" />
   </div>
   <div>
     <label>Lastname: </label>
     <input [(ngModel)]="hero.lastName" placeholder="last name" />
   </div>
   <button (click)="goBack()">Back</button>
   <button (click)="save()">Save</button>
   <button (click)="delete(hero)">Delete hero</button>
</div>
