.list {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 20px 10px 0;
}
label {
  cursor: default;
  display: block;
  user-select: none;
  width: 20em;
}
h2 {
  cursor: default;
  user-select: none;
}
input {
  border-radius: 3px;
  width: 10em;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
  width: 25em;
}
.heroes li {
  background-color: #EEE;
  border-radius: 4px;
  cursor: pointer;
  height: 1.6em;
  left: -0.5em;
  margin: .5em;
  padding: .3em 0;
  position: relative;
  transition: background-color 1s ease;
  user-select: none;
}
.heroes li:hover {
  background-color: #cfd8dc;
  color: #607D8B;
  left: -0.2em;
  transition: left 0.2s ease-in-out;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  background-color: #607D8B;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  font-size: small;
  height: 1.8em;
  line-height: 1em;
  margin-right: .8em;
  padding: 0.8em 0.7em 0 0.7em;
  position: relative;
  top: -4px;
  width: 15px;
  text-align: center;
}
button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: hand;
  cursor: pointer;
  font-family: Arial;
  outline: none;
  padding: 5px 10px;
  transition: background-color 0.5s;
  user-select: none;
}
button:hover , button:focus {
  background-color: #cfd8dc;
  color: #607D8B;
}
button.option {
  background-color: gray !important;
  color:white;
  float:right;
  margin-right: .8em;
  margin-top: 2px;
}
button.option:hover , button.option:focus{
  color:#cfd8dc;
}
div.selectedHero {
  display: flex;
  flex-direction: row;
}
div > button {
  margin: 0 10px 0 0;
}
