<div class="list">
   <h2>My Heroes</h2>
   <div> 
     <label>Hero name: </label><input #heroName />
     <br/>
     <label>Hero last name: </label><input #heroLastName />
     <button (click)="add(heroName.value, heroLastName.value); heroName.value=''; heroLastName.value='';">
       Add hero
     </button>
   </div>
   <ul class="heroes">
     <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
         [class.selected]="hero === selectedHero">
       <span class="badge">{{hero.id}}</span>
       <span>{{hero.name}}</span>
       <span>{{hero.lastName}}</span>
       <button class="option"
         (click)="delete(hero); $event.stopPropagation()">X</button>
       <button class="option" (click)="info(hero)">Inf</button>
     </li>
   </ul>
   <div *ngIf="selectedHero">
     <h2>
       ¡I like {{selectedHero.name}} {{selectedHero.lastName}}!
     </h2>
     <div class="selectedHero">
       <button (click)="gotoDetail()">View Details</button>
       <button (click)="deleteHero(hero)">Delete hero</button>
     </div>
   </div>
</div>
